<template>
  <div>
    <h1>Hello World!!</h1>
    <p>body:{{ body }}</p>
    <p>datetime:{{ datetime }}</p>
    <button @click="getHome">取得</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'home',
  data() {
    return {
      body: 'やっほっほー',
      datetime: '2019-02-01',
    };
  },
  methods: {
    async getHome() {
      const response = await axios.get('/api');
      this.body = response.data.body;
      this.datetime = response.data.datetime;
    },
  },
  created() {
    axios.defaults.baseURL = process.env.VUE_APP_API_HOST;
  },
};
</script>
